* {
  margin: 0%;
  padding: 0;
box-sizing: border-box;}

body {
  background-color: rgb(0, 0, 0)	;
  
}


#header {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  width: 100%;
  border: 4px solid red;
}

#header a {
  padding-top: 20px;
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin-right: 2%;
}


#header a:hover {
  font-size: 200%;
}





/*-------------------------------------main header code-------------------------------------*/
.mainHeader{

  background-image: url(images/webpage.gif);
  background-size: cover;






border: 4px solid red;
width: 100%;
height: 95vh;
display:flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
flex-wrap: wrap;
color: white;

}

.mainHeader h1{
  color: white;
  margin-bottom: 20%;
  margin-left: 7%;
  border: 4px solid red;

  }

  .mainHeader p{
    border: 4px solid red;
    color: white;
    margin-bottom: 1%;
    margin-left: 7%;
  }

.mainHeader button{
cursor: pointer;
height: 5em;
width: 7em;
border-radius: 5em;
border: none;
margin-left: 100%;
}

.mainHeader button:hover{

  background-color: rgb(80, 80, 82);
 
  }



/*-------------------------------------About code-------------------------------------*/

#About{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color:white;
  background-color: #F4F3F2;
}


#About #picture img{ 
width: 80%;
height: auto;
border-radius: 5px;
}

#picture{
  border: 4px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  
}

#text{
  border: 4px solid red;
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}
/*-------------------------------------Project code-------------------------------------*/


#Project{
width: 100%;
height:100vh;
color:white;
text-align: center;
background-color: hsla(212, 60%, 10%, 0.904);
}


#ExampleHeader{
height: 5vh;
}

#Examples{
  width: 100%;
  height:75vh;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}





/*---------------------------------------------------pop up------------------------------------------------------------*/

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 40%;
}

.popup-container button{
  margin: 3%;
  height: 15%;
  width: 15%;
  cursor: pointer;

}




.show-popup {
  display: flex;
}

.popup-button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20%; 

}

.popup-button img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}



#ExampleSkills{
  height: 5vh;
}

#Skills{
  width: 100%;
  height:15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Skills img{
  height: 60%;
  margin: 3%;
}




























/*-------------------------------------Contact code-------------------------------------*/

#Contact{
  width: 100%;
  height:100vh;
  color: white;
  display:flex;
  flex-direction: column;

  }


  #ContactHeading{
    width:100%;
    height:15vh;
   font-size: 200%;
    display:flex;
    align-items: center;
    justify-content: center;
  }

/*----------------------Form css---------------------------*/
  #ContactForm{
    width:100%;
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #ContactForm form{
    background-color:  #04151d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
     
     width: 45%;
     height: 85%;

    border-radius: 15px;
    color:white;
  }

  #ContactForm input{
    border-radius: 5px;
    width: 50%;
    height: 7%;
    border: none;
    background: none;
    padding-left: 10px;
    background-color:  rgb(128, 128, 128,0.1);

  }

  textarea::placeholder {
    color: white;
    text-align: center;
    opacity: .5;
  }
  
  textarea {
    color: white;
  }

  input{
    color: white;
  }
  input::placeholder{
    color: white;
    opacity: .5;

  }
  #ContactForm textarea{
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 5%;
    border: none;
    background: none;
    background-color:  rgb(128, 128, 128,0.1);
  }



  #ContactForm button{
     width: 10%;
    height: 7%;
    background:none;
    background-color:  rgb(128, 128, 128,0.5);
    border: none;
    cursor: pointer;
  }
  #ContactForm button:hover{
    background-color:  rgb(128, 128, 128);
 }


  #ContactForm h4{
   margin: 10px;
   font-size: 25px;

  }

/*----------------------Footer css---------------------------*/
  #Footer{
    width:100%;
    height:15vh;

    display:flex;
    align-items: center;
    justify-content: center;
  }
  #Footer img{
    width: 60px;
    margin: 25px;
  }

  #Footer a:hover{
   height: 150%;

  }
/*--------------------Navigation css------------------------*/

.dropdown{
  display: inline-block;
}
.dropdown button{
padding: 10px 15px;
border: none;
cursor: pointer;
appearance: none;
background-color: inherit;
}

.dropdown img{
height: 25px;
margin-right: 50px;
}

.dropdown a{
display: block;
color:rgb(255, 255, 255);
text-decoration: none;
padding: 10px 15px;
}

.dropdown .content{
  display: none;
  position: absolute;
  background-color:  rgb(4, 21, 29);
  box-shadow: 2px 2px 5px black;
  right: 50px;
  border-radius: 10px;
}

.dropdown:hover .content{
display: block;
}

.dropdown a:hover{
  background-color:  rgba(29, 9, 4, 0.5);
}

.navbar {
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: none;
}

.navbar.transparent{
display: flex;
justify-content: flex-end;

}

/*-------------------Media CSS------------------------*/





