* {
  margin: 0%;
  padding: 0;
box-sizing: border-box;}

body {
  background-color: #031e2a	;
}


#header {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  width: 100%;
}

#header a {
  padding-top: 20px;
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin-right: 2%;
}


#header a:hover {
  font-size: 200%;
}





/*-------------------------------------main header code-------------------------------------*/
.mainHeader{
width: 100%;
height: 95vh;
display:flex;
flex-direction: column;

align-items: flex-start;
justify-content: center;
flex-wrap: wrap;

color: white;

}

.mainHeader h1{
  color: white;
  margin-bottom: 20%;
  margin-left: 7%;
  }

  .mainHeader p{
    color: white;
    margin-bottom: 1%;
    margin-left: 7%;
  }
/*-------------------------------------About code-------------------------------------*/

#About{
  width: 100%;
  height: 100vh;
  border: 4px solid red;

  display: flex;
  flex-direction: row;
  color:white;
}


#About #picture img{ 
width: 400px;
}

#picture{
  border: 4px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  
}

#text{
  border: 4px solid red;
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}
/*-------------------------------------Project code-------------------------------------*/


#Project{
border: 4px solid red;
width: 100%;
height:100vh;
color:white;

}

/*-------------------------------------Contact code-------------------------------------*/



#Contact{
  border: 4px solid red;
  width: 100%;
  height:100vh;
  color: white;
  display:flex;
  flex-direction: column;

  }


  #ContactHeading{
    border: 4px solid red;
    width:100%;
    height:15vh;
   font-size: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
   

  }

/*----------------------Form css---------------------------*/
  #ContactForm{
    border: 4px solid red;
    width:100%;
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #ContactForm form{
    border: 4px solid red;

    background-color: #474a4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
     width: 30%;
    height: 85%;
    border-radius: 15px;
  }

  #ContactForm input{
    border-radius: 5px;
    width: 35%;
    height: 7%;
  }

  #ContactForm textarea{
    border-radius: 5px;
    width: 35%;
    margin-bottom: 5%;
  
  }

  #ContactForm button{
     width: 10%;
    height: 7%;
    cursor: pointer;
  }

  #ContactForm h4{
   margin: 10px;
   font-size: 25px;
  }

/*----------------------Footer css---------------------------*/
  #Footer{
    border: 4px solid red;
    width:100%;
    height:15vh;

    display:flex;
    align-items: center;
    justify-content: center;
  }
  #Footer img{
    border: 4px solid red;
    width: 75px;  
    margin: 25px;
  }
  #Footer a:hover{
   height: 150%;

  }
/*--------------------Navigation css------------------------*/

.dropdown{
  display: inline-block;
}
.dropdown button{
padding: 10px 15px;
border: none;
cursor: pointer;
appearance: none;
background-color: inherit;
}

.dropdown img{
height: 25px;
}

.dropdown a{
display: block;
color:red;
text-decoration: none;
padding: 10px 15px;
}

.dropdown .content{
  display: none;
  position: absolute;
  background-color: blue;
  box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content{
display: block;
}

.dropdown a:hover{
background-color: rgba(255, 0, 0, 0.594);
}

.navbar {
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: none;
}

.navbar.transparent{
display: flex;
justify-content: flex-end;

}